<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=4.8"/>
	</startup>
	<connectionStrings>
		<add name="CodersGrowth" connectionString="Data Source=INVENT023;Initial Catalog=CodersGrowth;User ID=sa;Password=sap@123"
			  providerName="System.Data.Client"/>
	</connectionStrings>
</configuration>